{{!-- Nav Bar --}}
<div class="navbar-fixed">
  <nav class="theme-switch">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">BigMood</a>
      <a href="#" class="sidenav-trigger show-on-large" data-target="slide-out"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
{{!-- Side Nav Bar --}}
<ul id="slide-out" class="sidenav center-align ">
  {{!-- User Info Section --}}
  <li>
    <div class="user-view center">
      <div class="center logo-nav">
        <div href="#" class="brand-logo center"><img id="logo" src="../assets/img/logo.jpg">
        </div>
        <h5>Signed in as </h5>
        <h6 class="current-user"></h6>
      </div>
  </li>

  {{!-- Theme Selection Section --}}
  <div class="input-field theme col s12">
    <h5>Change Your Theme</h5>
    {{!-- Color Dropdown Trigger --}}
    <a class='dropdown-trigger btn-large theme-switch' href='#' data-target="dropdown1">Theme<i
        class="large material-icons theme-switch">
        arrow_drop_down</i></a>
    {{!-- Color Dropdown Structure --}}
    <ul id="dropdown1" class="dropdown-content">
      {{#each themes}}
      <li><a href="#!" data-id="{{dataValues.id}}">{{dataValues.name}}</a></li>
      {{/each}}
    </ul>
  </div>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <div class="user-view">
      <h5>Meet The Dev Team</h5>
      <div class="row dev-team theme-switch">
        <div class="profile" onclick=location.href="https://github.com/espoldi">
          <img
            src="https://avatars0.githubusercontent.com/u/72423431?s=460&u=e8e36f9d7310daff1a5c3313436f30e2a34b495c&v=4"
            alt="Link to Emily Spoldi's GitHub" class="circle">
        </div>
        <div class="profile" onclick=location.href="https://github.com/jdavidrice">
          <img src="https://avatars.githubusercontent.com/u/24283989?s=400&v=4" alt="Link to Jeremy Rice's GitHub"
            class="circle">
        </div>
        <div class="profile" onclick=location.href="https://github.com/qifeng86">
          <img
            src="https://avatars.githubusercontent.com/u/65049795?s=400&u=65b453863f34b661f4c3c402cb3a54829a892b83&v=4"
            alt="Link to Qi Feng's GitHub" class="circle">
        </div>
        <div class="profile" onclick=location.href="https://github.com/Delph-Sunny">
          <img
            src="https://avatars.githubusercontent.com/u/72717827?s=400&u=d48b85559ffaa993b95bb39f151a97ed4a369a6c&v=4"
            alt="Link to Delph-Sunny's GitHub" class="circle">
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <h5>
      <a href="/logout" title="Logout"><i class="material-icons">logout</i> Logout</a>
    </h5>
  </li>

</ul>

{{!-- Dashboard Content --}}
<div class="container theme-switch" id="dashContent">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card center">

        <div class="card-content">
          <h3>Dashboard Statistics</h3>
          {{!-- Chart --}}
          <h6>Daily Mood Levels</h6>
          <canvas id="chart"><canvas />
        </div>

        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#mood">Mood</a></li>
            <li class="tab"><a class="active" href="#activity">Activity</a></li>
            <li class="tab"><a href="#quote">Quote</a></li>
          </ul>
        </div>
        <div class="card-content grey lighten-4">
          <div id="mood">
            <p class="fav-icon"><i class="medium material-icons theme-text" id="fav-mood"> </i></p>
            <p class="fav-name" id="my-mood"></p>

          </div>
          <div id="activity">
            <p class="fav-icon"><i class="medium material-icons theme-text" id="fav-activity"> </i></p>
            <p class="fav-name" id="my-activity"></p>
          </div>
          <div id="quote">
            <p id="new-quote"></p>
            <p class="theme-text" id="author"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <span class="card-title">All Entries</span>
          <div class="row">
            <div class="input-field col s6">
              <select>
                <option value="">Sort Entries By</option>
                <option value="1">Date</option>
                {{#each moods}}
                <option value="{{dataValues.id}}">{{dataValues.name}}</option>
                {{/each}}
                {{#each activities}}
                <option value="{{dataValues.id}}">{{dataValues.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l12">
      <ul class="collapsible">
        {{#each entries}}

        <li>
          <div class="collapsible-header">
            <i class="material-icons">{{dataValues.Mood.dataValues.icon}}</i>{{dataValues.Mood.dataValues.name}}
          </div>
          <div class="collapsible-body">
            <span class="result">
              Date: {{dataValues.createdAt}}<br>
              Activities: <div class="chip"><i
                  class="material-icons">{{dataValues.Activity.dataValues.icon}}</i>{{dataValues.Activity.dataValues.name}}
              </div>
            </span>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

{{!-- Modal New Mood Entry --}}
<button class="btn theme-switch hoverable modal-trigger" data-target="newEntry" id="modalButton"><i
    class="material-icons">add</i></button>

<div class="modal" id="newEntry">
  <div class="modal-content">
    <form id="createform">
      <h3>How are you feeling?</h3>
      <div class="row" id="mood-list">

        {{!-- Mood Icons --}}
        {{#each moods}}
        <label>
          <input class="with-gap" name="moodgroup" id="moodlist{{dataValues.id}}" value="{{dataValues.id}}"
            type="radio" />
          <span><i class="material-icons medium">{{dataValues.icon}}</i><br>
            <div class="center">{{dataValues.name}}</div>
          </span>
        </label>
        {{/each}}
      </div>

      <div class="divider"></div>

      <h3>What are you doing?</h3>
      <div id="activitylist">
        {{!-- Activity Icons --}}
        {{#each activities}}
        <label>
          <input class="with-gap" name="activitygroup" id="activitylist{{dataValues.id}}" value="{{dataValues.id}}"
            type="radio" />
          <span><i class="material-icons medium">{{dataValues.icon}}</i><br>
            <div class="center">{{dataValues.name}}</div>
          </span>
        </label>
        {{/each}}
      </div>


      <div class="divider"></div>


      <div class="modal-footer">
        <button type="submit" class="btn green">Submit</button>
        <button type="button" class="btn red modal-close">Cancel</button>
      </div>


    </form>

  </div>
</div>
{{!-- Link to chartJs --}}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
{{!-- Link to Dashboard JS --}}
<script src="./js/dashboard.js"></script>
